<div class="card">
  <h7 class="card-title card-header text-center bg-info text-white">献立検索</h7>
  <div class="card-body">
  <%= search_form_for @q do |f| %>
    <%= f.label :user_id_eq, "自分が投稿した献立", class: 'mt-2' %>
    <%= f.check_box :user_id_eq, {checked: false}, current_user.id, nil %>
    <%= f.submit "検索", class: 'btn btn-info mt-2' %><br>
    <%= link_to "全件表示", menus_path, class: 'btn btn-success mt-2' %>
  <% end %>
  </div>
</div>