<div class="col-md-4 col-sm-12">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <%= image_tag(menu.user.image.present? ? menu.user.image : 'default_image.png', size: "30x30") %>
      <%= menu.user.name %>
    </div>
    <div class="card-body" style="padding-bottom: 0px;">
      <% menu.products.each do |product| %>
        <%= image_tag product.image.present? ? product.image : product.genre.image, size: "50x50" %>
      <% end %>
      <h5 class="card-title pricing-card-title"><%= menu.total_calories%> kcal<small class="text-muted">/ total</small></h5>
      <ul class="list-unstyled mt-3 mb-4">
        <li><%= menu.description.truncate(30) %></li>
      </ul>
      <div class="row">
        <div class="col">
          <%= link_to "詳細", menu_path(menu.id), class: "btn  btn-primary" %>
        </div>
        <div class="mr-2">
          <i class="far fa-comment"></i>
          <%= menu.menu_comments.count %>
        </div>
        <div class="mr-1">
          <div class="bookmark_btn_<%= menu.id %>">
            <%= render "bookmarks/bookmarks", menu: menu %>
          </div>
        </div>
          <div class="like_btn_<%= menu.id %>">
            <%= render "likes/likes", menu: menu %>
          </div>
      </div>
        <p class="text-muted mt-2"><%= menu.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>
</div>