<div class="container shadow">
  <%= render 'layouts/notice' %>
  <div class="row justify-content-between">
    <h4 class=" mb-4">献立一覧</h4>
    <div><%= link_to "献立新規作成", new_menu_path, class: "btn btn-primary" %></div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <%= render 'menus/kensaku' %>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="row">
        <% if @menus.present? %>
          <% @menus.each do |menu| %>
            <%= render 'menus/menu_card', menu: menu %>
          <% end %>
        <% else %>
          <p>献立がありません。</p>
        <% end %>
      </div>
      <div class="row justify-content-center">
      <%= paginate @menus %>
      </div>
    </div>
  </div>
</div>