<div class="container shadow">
  <%= render 'layouts/notice' %>
  <div class="row justify-content-between">
    <h4 class="mb-5">献立新規作成</h4>
    <div>
      <%= link_to "商品一覧", products_path, class: "btn btn-primary" %>
    </div>
  </div>
  <%= form_with model: @menu, url: menus_path, method: :post do |form| %>
    <div class="row">
      <% if @menu_products.present? %> <!-- @menu_productsが存在する場合 -->
        <% total_calories = 0 %> <!-- 合計カロリーを0で初期化 -->
        <% meal_order = ['朝食', '昼食', '夕食'] %>
        <% @menu_products.group_by(&:meal_type).sort_by { |meal_type, _| meal_order.index(meal_type) }.each do |meal_type, menus| %> <!-- @menu_productsをmeal_typeでグルーピング、meal_orderでソート -->
          <div class="col-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h5 class="mb-0"><%= meal_type %></h5>
              </div>
              <table class="table">
                <tbody>
                  <% meal_type_calories = 0 %> <!-- 各meal_typeの合計カロリーを0で初期化 -->
                  <% menus.each do |menu| %>
                    <tr>
                      <td>
                        <%= link_to product_path(menu.product_id) do %>
                          <%= image_tag(menu.product.image.present? ? menu.product.image : menu.product.genre.image, size: "50x50") %>
                        <% end %>
                      </td>
                      <td><%= menu.product.name %></td>
                      <td><%= menu.product.calories %> kcal</td>
                      <td><%= link_to '削除', menu_product_path(menu.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
                    </tr>
                    <% meal_type_calories += menu.product.calories %> <!-- 各meal_typeのカロリーを計算 -->
                    <% total_calories += menu.product.calories %> <!-- 全体のカロリーを計算 -->
                  <% end %>
                  <tr>
                    <td colspan="2"><strong>合計カロリー:</strong></td>
                    <td colspan="2"><span class="badge badge-primary"><strong><%= meal_type_calories %> kcal</strong></span></td> <!-- 各meal_typeの合計カロリーを表示 -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      <% else %> <!-- @menu_productsが存在しない場合の表示 -->
        <p><%= link_to "商品一覧", products_path %>から商品を献立に追加してください</p>
      <% end %>
    </div>
    <div class="row mt-5">
      <div class="col">
        <table>
          <tr>
            <td><h5>目標摂取カロリー: </h5></td>
            <td><h5><span class="badge badge-success"><%= current_user.goal_calorie %> kcal</span></h5></td> <!-- 現在のユーザーの目標摂取カロリーを表示 -->
          </tr>
          <tr>
            <td><h5>全てのカロリー合計: </h5></td>
            <td><h5><span class="badge badge-primary"><%= total_calories %> kcal</span></h5></td> <!-- 献立の合計カロリーを表示 -->
          </tr>
          <tr>
            <td><h5>目標摂取カロリーまであと： </h5></td>
            <td><h5><span class="badge badge-info"><%= (current_user.goal_calorie || 0) - (total_calories || 0) %> kcall</span></h5></td> <!-- 目標摂取カロリーから献立の合計カロリーの差を表示 -->
          </tr>
          <tr>
            <td><%= form.label :description, "説明をつける" %></td>
            <td> <%= form.text_area :description %></td>
          </tr>
        </table>
        <%= form.submit '投稿する', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>