<h1>献立詳細: <%= @menu.meal_type %></h1>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>数量</th>
      <th>カロリー</th>
      <th>タンパク質</th>
      <th>脂質</th>
      <th>炭水化物</th>
    </tr>
  </thead>
  <tbody>
    <% @menu.menu_products.each do |menu_product| %>
      <tr>
        <td><%= menu_product.product.name %></td>
        <td><%= menu_product.quantity %></td>
        <td><%= menu_product.product.calories %></td>
        <td><%= menu_product.product.protein %></td>
        <td><%= menu_product.product.fat %></td>
        <td><%= menu_product.product.carbohydrate %></td>
      </tr>
    <% end %>
  </tbody>
</table>
