<div class="container shadow">
  <h4>会員情報編集</h4>
  <div class="row">
    <div class="mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
            <%= f.label :image, 'プロフィール画像', class: 'mb-3 mb-md-0' %>
          </div>
          <div class="col-md-8">
            <%= f.file_field :image, accept: "image/*" %>
            <% if resource.image.present? %>
            <div>現在のプロフィール画像：</div>
            <div class="mt-3 d-flex align-items-center justify-content-center"><%= image_tag @user.image, size: "100x100" %></div>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
            <%= f.label :name, '名前', class: 'mb-3 mb-md-0' %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
            <%= f.label :email, 'メールアドレス', class: 'mb-3 mb-md-0' %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
            <%= f.label :goal_calorie, '目標摂取カロリー', class: 'mb-3 mb-md-0' %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :goal_calorie, class: 'form-control' %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
            <%= f.label :email, 'パスワード', class: 'mb-3 mb-md-0' %>
          </div>
          <div class="col-md-8">
             <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %><br>
              <% if @minimum_password_length %>
                <%= @minimum_password_length %> 文字以上
              <% end %>
              (変更しない場合は空欄のまま)
          </div>
        </div>
      </div>
      
        <div class="form-group">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
            <%= f.label :password_confirmation, 'パスワードの確認', class: 'mb-3 mb-md-0' %>
          </div>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
            <%= f.label :current_password, '現在のパスワード', class: 'mb-3 mb-md-0' %>
          </div>
          <div class="col-md-8">
            <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %><br>
            (変更の確認のため、現在のパスワードが必要です)
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <%= f.submit "変更を保存", class: 'btn btn-success btn-block' %>
          </div>
        </div>
      </div>
      
      <% end %>
    </div>
  </div>
  <%= link_to "戻る", user_path(current_user.id) %>
</div>