<% menu.menu_comments.each do |menu_comment| %>
  <tr class="table table-borderless">
    <td>
      <%= link_to user_path(menu_comment.user) do%>
      <%= image_tag menu_comment.user.get_profile_image, size:"75x75" %>
      <%= book_comment.user.name %>
      <% end %>
    </td>
    <td>
      <%= menu_comment.comment %>
    </td>
    <td class="book_comment_<%= menu_comment.menu.id %>">
      <% if menu_comment.user == current_user %>
      <%= link_to "Destroy", menu_comment_path(menu_comment),class: "btn btn-sm btn-danger", remote: true, method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>