<div class="container mt-5">
  <h4 class="mb-5"><span class="bg-light px-3 pb-1">会員情報編集</span></h4>
  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @user, url: users_path, method: :patch do |f| %>
        <table>
          <tr>
            <td width="140" style="padding-bottom: 10px;">画像画像</td>
            <td style="padding-bottom: 10px;"><%= f.file_field :image, accept: "image/*"%></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">氏名</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :name, :size=>"30" %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">メールアドレス</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :email, :size=>"30" %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">目標摂取カロリー</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :goal_calorie, :size=>"30" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit '変更を保存', class: 'btn btn-success' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>