<div class="container shadow">
  <%= render 'layouts/notice' %>
  <h4 class="head-line mt-2 mb-5">登録情報</h4>
  <h5 class="title">
    プロフ画像
  </h5>
  <div class="profile-image mt-3 mb-4">
    <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "100x100" %>
    <% else %>
      <p>プロフィール画像がありません</p>
    <% end %>
  </div>
  <h5 class="title">
    名前
  </h5>
  <div class="username mt-3 mb-4">
    <%= @user.name %>
  </div>

  <h5 class="title">
    メールアドレス
  </h5>
  <div class="email mt-3 mb-4">
    <%= @user.email %>
  </div>

  <h5 class="title">
    目標摂取カロリー
  </h5>
  <div class="email mt-3 mb-4">
    <%= @user.goal_calorie.present? ? "#{@user.goal_calorie} kcal" : "未設定" %>
  </div>
  <% if @user.name != "guestuser" %>
  <div class="row mt-5">
    <div class="col-md-2 col-sm-12">
      <p><%= link_to "編集する", edit_user_registration_path, class: 'btn btn-success' %></p>
    </div>
    <div class="col-md-10 col-sm-12">
      <p><%= link_to "目標摂取カロリーを設定する", set_goal_calorie_user_path, class: 'btn btn-success' %></p>
    </div>
  </div>
  <% end %>
</div>
