<div class="container">
  <div class="row my-1 mt-5">
    <div class="col-md-2">
      <h5><strong>登録情報</strong></h5>
    </div>
    <div class="col-md-10">
      <p><%= link_to "編集する", edit_user_path, class: 'btn btn-success' %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <table class="table table-bordered">
        <tr>
          <td class="table-secondary border-dark">名前</td>
          <td class="border-dark"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="table-secondary border-dark">メールアドレス</td>
          <td class="border-dark"><%= @user.email %></td>
        </tr>
        <tr>
          <td class="table-secondary border-dark">目標摂取カロリー</td>
          <td class="border-dark"><%= @user.goal_calorie %>kcal</td>
        </tr>
      </table>
    </div>
  </div>
    <div class="row my-1 mt-5">
      <div class="col-md-10">
        <p><%= link_to "目標摂取カロリーを設定する", set_goal_calorie_user_path, class: 'btn btn-success' %></p>
      </div>
  </div>
</div>
