<div class="container">
  <h4 class="mb-5"><span class="bg-light px-3 pb-1">商品編集</span></h4>
  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @product, url: product_path(@product), html: { method: :patch } do |f| %>
        <table>
          <tr>
            <td></td>
            <td>
              <% if @product.image.present? %>
              <div class="mt-3">現在の商品画像：<br>
              <%= image_tag @product.image, size: "100x100" %>
              </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td width="140" style="padding-bottom: 10px;">商品画像</td>
            <td style="padding-bottom: 10px;"><%= f.file_field :image, accept: "image/*"%></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">商品名</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :name, :size=>"30" %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">商品説明</td>
            <td style="padding-bottom: 10px;"><%= f.text_area :description, :size=>"29" %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">ジャンル</td>
            <td style="padding-bottom: 10px;"><%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: 'ジャンルを選択してください' %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">カロリー</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :calories , :size=>"30"%></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">タンパク質</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :protein , :size=>"30"%></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">脂質</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :fat , :size=>"30"%></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">炭水化物</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :carbohydrate , :size=>"30"%></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit '変更を保存', class: 'btn btn-success' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <%= link_to "詳細に戻る", product_path(@product) %>
</div>