<div class="container shadow">
  <%= render 'layouts/notice' %>
  <div class="row justify-content-between">
    <div>
      <h4>商品一覧</h4>
    </div>
    <div>
      <%= link_to '商品を登録する', new_product_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <%= render 'products/kensaku' %>
    </div>
    <div class="col-9">
      <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">画像</th>
            <th scope="col">商品名</th>
            <th scope="col">カロリー</th>
            <th scope="col">タンパク質</th>
            <th scope="col">脂質</th>
            <th scope="col">脂質</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @products.each do |product| %>
  　　    <tbody>
          <tr>
            <%# @product.imageがないときは@product.genre.imageを表示する　%>
            <td><%= image_tag product.image.present? ? product.image : product.genre.image, size: "50x50" %></td>
            <td><%= product.name %></td>
            <td><%= product.calories %> kcal</td>
            <td><%= product.protein %> g</td>
            <td><%= product.fat %> g</td>
            <td><%= product.carbohydrate %> g</td>
            <td><%= link_to "詳細", product_path(product.id), class: 'btn btn-success' %></td>
            <td>
              <%= form_with(model: @menu_product, url: menu_products_path, local: true) do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.select :meal_type, [['朝食に追加', '朝食'], ['昼食に追加', '昼食'], ['夕食に追加', '夕食']], class: 'form-select form-select-sm' %>
              <%= form.submit "献立に追加", class: "btn btn-primary btn-sm" %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @products %>
  </div>
</div>