<div class="container shadow">
  
  <% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "件のエラーが発生したため") %>保存されませんでした。</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <h4 class="mb-5">商品新規登録</h4>
  <div class="row">
    <div class="mx-auto">
      
      <%= form_with model: @product do |f| %>
      
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
              <%= f.label :image, '商品画像', class: 'mb-3 mb-md-0' %>
            </div>
            <div class="col-md-8">
              <%= f.file_field :image, accept: "image/*" %>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
              <%= f.label :name, '商品名', class: 'mb-3 mb-md-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
              <%= f.label :description, '商品説明', class: 'mb-3 mb-md-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_area :description, class: 'form-control' %>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
              <%= f.label :genre_id, 'ジャンル', class: 'mb-3 mb-md-0' %>
            </div>
            <div class="col-md-8">
              <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: 'ジャンルを選択してください', class: 'form-control' %>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
              <%= f.label :calories, 'カロリー', class: 'mb-3 mb-md-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :calories, class: 'form-control' %>
              <span class="">kcal</span>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
              <%= f.label :protein, 'タンパク質', class: 'mb-3 mb-md-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :protein,  class: 'form-control' %>g
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
              <%= f.label :fat, '脂質', class: 'mb-3 mb-md-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :fat, class: 'form-control' %>g
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-end">
              <%= f.label :carbohydrate, '炭水化物', class: 'mb-3 mb-md-0' %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :carbohydrate, class: 'form-control' %>g
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 mx-auto">
              <%= f.submit "新規登録", class: 'btn btn-success btn-block' %>
            </div>
          </div>
        </div>
        
      <% end %>
      
    </div>
  </div>
  <%= link_to "一覧に戻る", products_path %>
</div>