<div class="container shadow">
  <% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "件のエラーが発生したため") %>保存されませんでした。</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <h4 class="mb-5">商品新規登録</h4>
  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @product do |f| %>
        <table>
          <tr>
            <td>商品画像のファイルをせたくしなかった場合ジャンルの画像が表示されます。</td>
          </tr>
          <tr>
            <td width="140" style="padding-bottom: 10px;">商品画像</td>
            <td style="padding-bottom: 10px;"><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">商品名</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :name, :size=>"30" %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">商品説明</td>
            <td style="padding-bottom: 10px;"><%= f.text_area :description, :size=>"29" %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">ジャンル</td>
            <td style="padding-bottom: 10px;"><%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: 'ジャンルを選択してください' %></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">カロリー</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :calories, :size=>"30" %>kcal</td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">タンパク質</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :protein, :size=>"30" %>g</td>
            <td></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">脂質</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :fat, :size=>"30" %>g</td>
            <td></td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px;">炭水化物</td>
            <td style="padding-bottom: 10px;"><%= f.text_field :carbohydrate, :size=>"30" %>g</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit '新規登録', class: 'btn btn-success' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <%= link_to "一覧に戻る", products_path %>
</div>