<header class="shadow-sm">
  <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-white">
  <a class="navbar-brand" href="/"><%= image_tag '1.png', class: 'navbar-logo' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          献立
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><%= link_to '献立を作成する', new_menu_path, class: 'nav-link text-info' %></a>
          <a class="dropdown-item"><%= link_to '献立一覧', menus_path, class: 'nav-link text-info' %></a>
          <a class="dropdown-item"><%= link_to 'いいねした献立', likes_users_path(current_user), class: 'nav-link text-info' %></a>
          <a class="dropdown-item"><%= link_to 'ブックマークした献立', bookmarks_users_path(current_user), class: 'nav-link text-info' %></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          商品
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><%= link_to '商品一覧', products_path, class: 'nav-link text-info' %></a>
          <a class="dropdown-item"><%= link_to '商品登録', new_product_path, class: 'nav-link text-info' %></a>
        </div>
      </li>
        <li class="nav-item">
          <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-info' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-info' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-info' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-info' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "nav-link text-info", method: :post %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="text-info">
    <% if user_signed_in? %>
      ようこそ<%= current_user.name %>さん！
    <% end %>
  </div>
</nav>
</header>